// Grid

@mixin grid-rules($prefix: '') {
  $name: '.#{$prefix}grid';

  #{$name}-1, #{$name}-2, #{$name}-3, #{$name}-4, #{$name}-5, #{$name}-6 {
    display: flex;
    flex-wrap: wrap;

    // Prevent children from unexpectedly stretching or shrinking.
    > * {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  #{$name}-1 > * {flex-basis: 100%}
  #{$name}-2 > * {flex-basis: 50%}
  #{$name}-3 > * {flex-basis: calc(1/3 * 100%)}
  #{$name}-4 > * {flex-basis: 25%}
  #{$name}-5 > * {flex-basis: 20%}
  #{$name}-6 > * {flex-basis: calc(1/6 * 100%)}
}

@include grid-rules;
@include eq-sm {@include grid-rules(sm-);}
@include media-sm {@include grid-rules(md-);}
@include media-md {@include grid-rules(lg-);}