// Atomic styles for Circle Userpic
.bg-circle {
  @include bg-cover-circle;
}

.bg-circle-trick {
  @include bg-cover-circle;
  @include height-percentage-trick(100%);
}

// Atomic styles for object-fit
.fitted-image {
  @extend .width-100p;
  @extend .fit-cover;

  @include media-not-lg {
    width: 70vw;
    min-width: 70vw;
    max-width: 70vw;
    min-height: 70vh;
    max-height: 70vh;
  }

  @include media-lg {
    width: 90vw;
    min-width: 90vw;
    max-width: 90vw;
    min-height: 80vh;
    max-height: 80vh;
  }

}

// Loading animation

.pulsating {
  @extend .margin-1;

  height: 2rem;
  width: 2rem;

  background: $color-shadow;
  border-radius: 50%;
  box-shadow: 0 0 0 0 $color-shadow;

  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 $color-accent-transparent;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 1rem $color-accent-invisible;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 $color-accent-invisible;
  }
}

// Author Block
.author-block-container {
  @extend .row-start-center;
  @extend .gaps-h-0x5;
  @extend .padding-v-1;
  @extend .padding-h-0x5;
  @extend .fg-primary;
}

// Card
.post-card {
  @extend .col-center-center;
  @extend .border-primary;
  @extend .rounded-2x;
  @extend .margin-v-2;
  @extend .padding-1;
  width: 640px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  @include media-md {
    width: 90%;
    max-width: 90%;
  }
}

// Comments Block
.comments-block {
  max-width: 640px;
  width: 640px;
  @include media-md {
    width: 100%;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

}

.comment-body {
  display: inline-block;
  overflow-wrap: anywhere;
}

// Award
.award {
  max-width: 20px;
}